<!DOCTYPE html>
<html lang="es-MX">

<head>
    <title>Carrito</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://127.0.0.1:5500/yourPCHome.html">YourPC</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="http://127.0.0.1:5500/yourPCHome.html">Home</a></li>
              <li><a href="#footer">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://127.0.0.1:5500/yourPCHome.html"><span class="glyphicon glyphicon-user"></span> Cancel</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <section class="h-100 h-custom" style="background-color: purple; color: black;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                            <h6 class="mb-0 text-muted" style="color: black;">3 items</h6>
                                        </div>
                                        <hr class="my-4">

                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="../PCHumilde.jpeg" class="img-fluid rounded-3"
                                                    alt="Cotton T-shirt" width="200px">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-muted" style="text-align: right; color:black;">Shirt</h6>
                                                <h6 class="text-black mb-0"
                                                    style="position: absolute; left: 55%; text-align: justify;">Cotton
                                                    T-shirt</h6>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                                                <input id="form1" min="0" name="quantity" value="1" type="number"
                                                    class="form-control form-control-sm" />
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h6 class="mb-0">€ 44.00</h6>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                            </div>
                                        </div>

                                        <hr class="my-4">

                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="../PCMedia.jpeg" class="img-fluid rounded-3"
                                                    alt="Cotton T-shirt" width="200px">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-muted" style="text-align: right; color: black;">Shirt</h6>
                                                <h6 class="text-black mb-0"
                                                    style="position: absolute; left: 55%; text-align: justify;">Cotton
                                                    T-shirt</h6>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                                                <input id="form1" min="0" name="quantity" value="1" type="number"
                                                    class="form-control form-control-sm" />
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h6 class="mb-0">€ 44.00</h6>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                            </div>
                                        </div>

                                        <hr class="my-4">

                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="../PCPotente.jpeg" class="img-fluid rounded-3"
                                                    alt="Cotton T-shirt" width="200px">
                                            </div>
                                            <div class=" col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-muted" style="text-align: right; color:black;">Shirt</h6>
                                                <h6 class="text-black mb-0"
                                                    style="position: absolute; left: 55%; text-align: justify;">Cotton
                                                    T-shirt</h6>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                                                <input id="form1" min="0" name="quantity" value="1" type="number"
                                                    class="form-control form-control-sm" />
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h6 class="mb-0">€ 44.00</h6>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                            </div>
                                        </div>

                                        <hr class="my-4">

                                        <div class="pt-5">
                                            <h6 class="mb-0"><a href="#!" class="text-body"><i
                                                        class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 bg-grey">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-4">
                                            <h5 class="text-uppercase">items 3</h5>
                                            <h5>€ 132.00</h5>
                                        </div>

                                        <h5 class="text-uppercase mb-3">Shipping</h5>

                                        <div class="mb-4 pb-2">
                                            <select class="select">
                                                <option value="1">Standard-Delivery- €5.00</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                                <option value="4">Four</option>
                                            </select>
                                        </div>

                                        <h5 class="text-uppercase mb-3">Give code</h5>

                                        <div class="mb-5">
                                            <div class="form-outline">
                                                <input type="text" id="form3Examplea2"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Examplea2">Enter your code</label>
                                            </div>
                                        </div>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-5">
                                            <h5 class="text-uppercase">Total price</h5>
                                            <h5>€ 137.00</h5>
                                        </div>

                                        <button type="button" class="btn btn-dark btn-block btn-lg"
                                            data-mdb-ripple-color="dark">Register</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><img
                            class="img-responsive" src="../faceLog.png" alt="feceYourPC"
                            style="width: 30px;height: 30px;"><i class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><img
                            class="img-responsive" src="../twtLog.png" alt="twtYourPC"
                            style="width: 30px;height: 30px;"><i class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><img
                            class="img-responsive" src="../googLog.png" alt="googYourPC"
                            style="width: 30px;height: 30px;"><i class="fab fa-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><img
                            class="img-responsive" src="../instLog.png" alt="instYourPC"
                            style="width: 30px;height: 30px;"><i class="fab fa-instagram"></i></a>
                </section>
                <!-- Section: Social media -->

                <!-- Section: Text -->
                <section class="mb-4">
                    <div id="contact" class="container-fluid bg-grey">
                        <h2 class="text-center">CONTACT</h2>
                        <div class="row">
                            <div class="col-sm-5">
                                <p>Contact us and we'll get back to you within 24 hours.</p>
                                <p><span class="glyphicon glyphicon-map-marker"></span> Guadalajara, MX</p>
                                <p><span class="glyphicon glyphicon-phone"></span> +52 33 3445 7677</p>
                                <p><span class="glyphicon glyphicon-envelope"></span> YourPCTeam@gmail.com</p>
                            </div>
                            <form action="https://fromsubmit.co/YourPCTeam@gmail.com" method="post">
                                <div class="col-sm-7 slideanim">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <input class="form-control" id="name" name="name" placeholder="Name"
                                                type="text" required>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <input class="form-control" id="email" name="email" placeholder="Email"
                                                type="email" required>
                                        </div>
                                    </div>
                                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment"
                                        rows="5"></textarea><br>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <button class="btn btn-default pull-right" type="submit">Send</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
            </div>

    </section>
    <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
    </footer>
    </section>
</body>

</html>