<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/styles/yourPCHome.css">
	<link rel="icon" type="image/x-icon" href="../static/YourPCLogo2.jpg">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Modificar PC</title>
	<style>
		#warningPCNameRepited {
			color: red;
			display: none;
		}
	</style>
</head>
<body>
  <nav class="navbar navbar-inverse ">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{url_for('yourPCHome', admin=1)}}">YourPC</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<a class="navbar-brand" href="#" ></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{url_for('yourPCHome', admin=1)}}">Home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Operaciones de administrador
						<span class="caret"></span></a>
						<ul class="dropdown-menu" >
							<li><a href="{{url_for('addPCPage')}}">Registrar PC</a></li>
							<li><a href="{{url_for('selectPCPage')}}">Modificar PC</a></li>
							<li><a href="#">Eliminar PC</a></li>
							<li><a href="{{url_for('createAdminUserPage')}}">Agregar nuevo administrador</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Hola, {{current_user.id}}</a></li>
					<li><a href="{{url_for('logout')}}">Cerrar sesión</a></li>
					<li><a href="{{url_for('yourPCHome', admin=1)}}">Cancelar</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<p><img class="img-responsive" src="{{url_for('static',filename='YourPCLogo1.jpg')}}" style="height: 300px; display: block; margin: 0 auto;"></p>

	<div class="container">
		<form class="form-horizontal" enctype="multipart/form-data" method="POST" action="{{url_for('savePCChanges', id=pc[0])}}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="PC Name">Nombre de la PC</label>
				<div class="col-sm-10">
					<input type="text" value="{{pc[0]}}" class="form-control" id="PC Name" name="PC Name" oninput="getPC()" required> <span id="warningPCNameRepited">Este nombre ya está en uso</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="Price">Precio de la PC</label>
				<div class="col-sm-10">
					<input type="number" value="{{pc[1]}}" step="0.01" min="0" id="Price" name="Price" required>
				</div>
			</div>
			<div class="form-group">
				<label for="Purpose">Seleccione el propósito de la PC:</label>
					<select class="form-control" id="Purpose" name="Purpose">
						<option value="1">Oficina</option>
						<option value="2">Programación</option>
						<option value="3">Gaming</option>
						<option value="4">Diseño/Edición</option>
					</select>
			</div>
			<div class="form-group">
				<label for="Description">Descripción</label>
				<textarea class="form-control" rows="5" id="Description" name="Description">{{pc[3]}}</textarea>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="Image">Imagen:</label>
					<div class="col-sm-10">
						<input type="file" class="form-control-file" id="Image" name="Image" placeholder="Inserte una imagen de la PC" onchange="previewImage()">
						<img style="width: 200px;" class="img-responsive" id="imgPreview" src="../static/uploads/{{pc[4]}}" alt="Imagen">
					</div>
			</div>
			<button style="margin-bottom: 10px;" type="submit" id="Save" class="btn btn-success">Guardar cambios</button>
		</form>
		<a href="{{url_for('selectPCPage')}}"><button class="btn btn-danger">Cancelar</button></a>
	</div>
	<script>
		function showWarningRepitedName() {
			let span = document.getElementById('warningPCNameRepited');
			let saveButton = document.getElementById('Save');
			span.style.display = 'block';
			saveButton.disabled = true;
		}

		function hideWarningRepitedName() {
			let span = document.getElementById('warningPCNameRepited');
			let saveButton = document.getElementById('Save');
			span.style.display = 'none';
			saveButton.disabled = false;
		}

		async function getPC() {
			const input = document.getElementById('PC Name').value;

			try {
				const response = await fetch('{{url_for("getPC")}}', {
					method: 'POST',
					headers: {
						Accept: 'application/json',
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						input: input
					})
				});

				if(!response.ok)
					throw new Error('Error al conectar a la Base de Datos');

				const json = await response.json();

				if(json === null)
					return hideWarningRepitedName();

				return showWarningRepitedName();

			} catch(error) {
				console.log(error);
			}
		}

		function previewImage() {
            const image = document.getElementById("Image").files[0];
            const reader = new FileReader();

            reader.onload = (e) => {
                const imgPreview = document.getElementById("imgPreview");
                imgPreview.src = e.target.result;
            };

            reader.readAsDataURL(image);
        }
	</script>
</body>
</html>