<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/yourPCHome.css">
    <link rel="icon" type="image/x-icon" href="../static/YourPCLogo2.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../static/js/yourPCHome.js"></script>
    <title>Buscar PC</title>
    <style>
        .Proposito {
            margin-bottom: 10px;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
            text-align: justify;
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            margin-left: 10px;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        
    </style>
</head>
<body style="background-color: purple;">
    <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{url_for('yourPCHome')}}">YourPC</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#" ></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{url_for('yourPCHome')}}">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Hola, {{current_user.id}}</a></li>
                    <li><a href="{{url_for('logout')}}">Cerrar sesión</a></li>
                    <li><a href="{{url_for('yourPCHome')}}">Cancelar</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- The Modals -->
    <div id="infoModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>
                Pulse cada uno de los propósitos según el orden de prioridad que quiera darles, siendo el primero en seleccionar el de mayor prioridad.
                Los propósitos seleccionados aparecerán a la derecha. Para borrar las selecciones y empezar de nuevo, pulse en el botón 'Restablecer'.
                Cuando quiera realizar la búsqueda, pulse en el botón 'Buscar'. Tome en cuenta que debe escoger más de un propósito para obtener resultados
                o, de lo contrario, no elegir ninguno para ver la lista completa de PCs disponibles.
            </p>
        </div>

    </div>
    <div id="advertenciaModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>
                Para poder obtener resultados, debe seleccionar <span style="color: red">más de un propósito</span> o, por el contrario, no escoger
                <span style="color: red">ningún propósito</span> para visualizar la lista completa de PCs.
            </p>
        </div>

    </div>
    <div id="sinResultadosModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>
                Lo sentimmos. Actualmente no hay ningún resultado para sus criterios de búsqueda.
            </p>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="contenedor_imagen" class="col-lg-5" style="background-color: #29272A; padding-bottom: 30px;">
                <div style="text-align: center;">
                    <h2 style="color: #EEE6E6; font-weight: 300;">Comienza a explorar en busca de la PC que siempre has deseado</h2>
                    <img style="width: 300px;" class="img" src="{{url_for('static',filename='explorerPC.jpeg')}}" alt="Logo YourPC">
                </div>
            </div>
            <div id="propositos_area" class="col-lg-4" style="height: 425px; background-color: white;">
                <h1 style="position: relative; top: -10px;">Seleccione los propósitos en orden de prioridad.</h1>
                
                <button class="Proposito btn" value="oficina">Oficina</button><br>
                <button class="Proposito btn" value="programacion">Programación</button><br>
                <button class="Proposito btn" value="gaming">Gaming</button><br>
                <button class="Proposito btn" value="edicion">Diseño/Edición</button><br><br>
                
                <div style="position: absolute; top: 370px;">
                    <button id="Restablecer" class="btn btn-default">Restablecer</button>
                    <button id="Buscar" type="submit" class="btn btn-success">Buscar</button>
                    <button id="botonInfo" class="btn btn-info">Cómo funciona</button>
                </div>
                
            </div>
            <div id="orden_area" class="col-lg-3" style="padding-top: 50px; padding-left: 50px; height: 425px; border-left: 2px solid black; background-color: white;"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">   
            <h2 style="font-weight: 300; text-align: center;">Puede ver los resultados aquí:</h2>
            <table id="Tabla_resultados" class="table table-hover" style="display: none; height: 625px; overflow-y: scroll; margin: 0 auto;">
                <thead style="position: sticky; top: 0; background-color: #EEE6E6;">
                    <th>Nombre PC</th>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th style="padding-right: 10px;">Oficina</th>
                    <th style="padding-right: 10px;">Programación</th>
                    <th style="padding-right: 10px;">Gaming</th>
                    <th style="padding-right: 10px;">Diseño/Edición</th>
                </thead>
                <tbody id="Resultados" style="background-color: gray;">

                </tbody>
            </table>
        </div>
    </div>
    <script>
        // Creamos un arreglo en donde guardaremos los propósitos conforme se vayan seleccionando
        let propositos = [];

        // Obtenemos la lista de botones
        const botones = document.querySelectorAll(".Proposito");

        // Obtenemos el contenedor donde se colocarán los botones
        const contenedor = document.getElementById("orden_area");

        //Obtenemos el botón restablecer
        const boton_restablecer = document.getElementById("Restablecer");

        //Obtenemos el botón para buscar PCs
        const boton_buscar = document.getElementById("Buscar");

        // Obtenemos el modal de información
        const infoModal = document.getElementById("infoModal");

        // Obtenemos el modal de advertencia
        const advertenciaModal = document.getElementById("advertenciaModal");

        //Obtenemos el modal de aviso de búsqueda fallida
        const sinResultadosModal = document.getElementById("sinResultadosModal");

        // Obtenemos el botón que abre el modal de información
        const botonInfo = document.getElementById("botonInfo");

        // Obtenemos el elemento <span> que cierra el modal de información
        const spanInfoModal = document.getElementsByClassName("close")[0];
        
        // Obtenemos el elemento <span> que cierra el modal de advertencia
        const spanModalAdvertencia = document.getElementsByClassName("close")[1];

        // Obtenemos el elemento <span> que cierra el modal de advertencia
        const spanModalSinResultados = document.getElementsByClassName("close")[2];

        // Cuando el usuario hace clic en el botón de información, abre el modal de información
        botonInfo.onclick = function() {
            infoModal.style.display = "block";
        }

        // Cuando el usuario hace clic en <span> (x), cierra los modales
        spanInfoModal.onclick = function() {
            infoModal.style.display = "none";
        }

        spanModalAdvertencia.onclick = function() {
            advertenciaModal.style.display = "none";
        }

        spanModalSinResultados.onclick = function() {
            advertenciaModal.style.display = "none";
        }

        // Cuando el usuario hace clic en cualquier lugar de la pantalla fuera de los modales, cierra los modales
        window.onclick = function(event) {
            if (event.target == infoModal) {
                infoModal.style.display = "none";
            }
            if(event.target == advertenciaModal) {
                advertenciaModal.style.display = "none";
            }
        }

        // Agregamos un evento de clic a cada botón
        botones.forEach((boton) => {
            boton.addEventListener("click", () => {
                // Clonamos el botón y lo ocultamos
                const boton_clon = boton.cloneNode(true);

                //Obtenemos los valores de los botones y los guardamos en el arreglo
                propositos.push(boton.value);
                console.log(propositos);

                boton.style.visibility = "hidden";

                // Deshabilitamos el botón clon
                boton_clon.disabled = true;

                boton_clon.style.display = "block";
                boton_clon.className = "clon";

                // Agregamos el botón clon al contenedor
                contenedor.appendChild(boton_clon);
            });
        });

        //Definimos el comportamiento del botón buscar al hacer clic sobre éste
        boton_buscar.onclick = function() {
            if(propositos.length == 1) {
                advertenciaModal.style.display = "block";
                return;
            }

            boton_buscar.disabled = true;

            var js_data = JSON.stringify(propositos);
            console.log(js_data);

            $.ajax({                        
                url: '/searchPC',
                type : 'post',
                contentType: 'application/json',
                dataType : 'json',
                data : js_data
            }).done(function(result) {
                mostrarTablaResultados(result);
                console.log(result);
                $("#data").html(result);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log("fail: ",textStatus, errorThrown);
            });
        }

        //Mostramos la tabla con los resultados obtenidos luego de la consulta a la BD
        function mostrarTablaResultados(results) {
            if(results.length == 0) {
                sinResultadosModa.style.display == "block";
                return;
            }

            var tbody = document.getElementById("Resultados");

            results.forEach((res) => {
                var tr = document.createElement("tr");

                for(let i = 0; i < 8; i++) {
                    var td = document.createElement("td");

                    if(i == 1) {
                        var img = document.createElement("img");
                        img.src = "../static/uploads/" + res[i];
                        img.alt = "Imagen de PC";
                        img.height = 100;
                        
                        td.appendChild(img);
                    }
                    else {
                        td.textContent = res[i];
                    }

                    tr.appendChild(td);
                }

                tbody.appendChild(tr);
            });

            document.getElementById("Tabla_resultados").style.display = "block";
        }
        
        //Función que elimina la tabla de resultados creada
        function eliminarResultadosTabla() {
            var tbody = document.getElementById("Resultados");

            while(tbody.childNodes.length > 0) {
                tbody.removeChild(tbody.childNodes[0]);
            }

            document.getElementById("Tabla_resultados").style.display = "none";
        }

        //Definimos el comportamiento del botón restablecer al hacer clic sobre éste
        boton_restablecer.onclick = function() {

            //Obtenemos los botones clones
            const botones_clones = document.querySelectorAll(".clon");

            //Eliminamos todos los botones clones
            botones_clones.forEach((boton) => {
                boton.remove();
            });

            //Hacemos visibles todos los botones originales que fueron seleccionados
            botones.forEach((boton) => {
                boton.style.visibility = "visible";
            });

            //Vaciamos la lista de propósitos
            propositos = [];
            console.log(propositos);


            //Eliminamos la tabla creada
            eliminarResultadosTabla();
            boton_buscar.disabled = false;
        }
    </script>
</body>
</html>