<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <title>YourPC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/yourPCHome.css">
    <link rel="icon" type="image/x-icon" href="../static/YourPCLogo2.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .panel-body {
        min-height: 400px;
      }

      .promoimages{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    </style>
  </head>
    <body>
      <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">YourPC</a>
          </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#myCarousel">Home</a></li>
              <li><a href="#about">Acerca de</a></li>
              <li><a href="#Ofertas">Ofertas</a></li>
              <li><a href="#PC's">PC's</a></li>
              <li><a href="#footer">Contáctanos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
              <li><a href="#">Hola, {{current_user.id}}</a></li>
              <li><a href="#">Libreta</a></li>
              <li><a href="\logout">Cerrar sesión</a></li>
            {% else %}
              <li><a href="{{ url_for('logIn') }}"><span class="glyphicon glyphicon-log-in"></span> Acceder</a></li>
              <li><a href="{{ url_for('formulario') }}"><span class="glyphicon glyphicon-user"></span> Crear cuenta</a></li>
            {% endif %}
            </ul>
        </div>
      </nav>
      <section id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../static/carr1.jpg" class="carousel-img" alt="img1">
            <div class="carousel-caption">
              <h3>Una PC para todos</h3>
              <p>En YourPC nuestro objetivo es seleccionar la PC perfecta para ti</p>
            </div>
          </div>
          <div class="item">
            <img src="../static/carr2.jpg" class="carousel-img" alt="img2">
            <div class="carousel-caption">
              <h3>Depende de ti</h3>
              <p>YourPC muestra los sets de PC de acuerdo a tu presupuesto y necesidades</p>
            </div>
          </div>
          <div class="item">
            <img src="../static/carr3.jpg" class="carousel-img" alt="img3">
            <div class="carousel-caption">
              <h3>Para ti</h3>
              <p>Puedes guardar diferentes sets para consultarlos nuevamente</p>
            </div>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </section>
      <section class="container-fluid text-center" id="about">
        <div class="row content">
          <div class="col-lg-2 sidenav text-center">
            <img class="img-responsive YourPCLogo" src="../static/YourPCLogo1.jpg" alt="Logo1YourPC">
          </div>
          <div class="col-sm-8 text-center center">
            <div>
              <hr>
              <h3>Bienvenido</h3>
              <p>
                Gracias por escoger YourPC.co, donde puedes hacer tu presupuesto para tu PC.
                En YourPC sabemos que no todos saben cómo seleccionar la computadora ideal de acuerdo a sus necesidades. Es por esa
                razón que nosotros te ayudaremos a escoger la mejor opción para ti.
              </p>
              <hr>
            </div>
            <div>
              <h3>Notebook</h3>
              <p>En YourPc podrás guardar diferentes sets de computadora en tu "Notebook"
              </p>
              <hr>
            </div>
            <div>
              <h3>Calculadora</h3>
              <p>
                El propósito y función principal de YourPC. Esta calculadora te da diferentes opciones de PC
                que se ajusten a tu presupuesto y necesidades.
              </p>
              <hr>
            </div>
          </div>
          <div class="col-lg-2 sidenav text-center">
            <img class="img-responsive YourPCLogo" src="../static/YourPCLogo2.jpg" alt="Logo2YourPC">
          </div>
        </div>
      </section>
      <section class="container-fluid text-center" id="Ofertas">
        <div class="row content">
          <br>
          <h2>Ofertas</h2>
          <p>¡Aquí estan las ofertas del dia!</p>
          <hr>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="panel panel-primary">
                  <div class="panel-heading">BLACK FRIDAY DEAL</div>
                  <div class="panel-body promoimages" style="background-image: url(../static/amazon_card.jpg);"></div>
                  <div class="panel-footer">Compra 50 dispositivos móviles y obtén una tarjeta de regalo.</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-danger">
                  <div class="panel-heading">BLACK FRIDAY DEAL</div>
                  <div class="panel-body promoimages" style="background-image: url(../static/free_fire_card.jpg);"></div>
                  <div class="panel-footer">Compra 50 dispositivos móviles y obtén una tarjeta de regalo.</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-success">
                  <div class="panel-heading">BLACK FRIDAY DEAL</div>
                  <div class="panel-body promoimages" style="background-image: url(../static/hbo_card.jpg);"></div>
                  <div class="panel-footer">Compra 50 dispositivos móviles y obtén una tarjeta de regalo.</div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="panel panel-primary">
                  <div class="panel-heading">BLACK FRIDAY DEAL</div>
                  <div class="panel-body promoimages" style="background-image: url(../static/prime_video_card.jpg);"></div>
                  <div class="panel-footer">Compra 50 dispositivos móviles y obtén una tarjeta de regalo.</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-primary">
                  <div class="panel-heading">BLACK FRIDAY DEAL</div>
                  <div class="panel-body promoimages" style="background-image: url(../static/spotify_card.jpg);"></div>
                    <div class="panel-footer">Compra 50 dispositivos móviles y obtén una tarjeta de regalo.</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-primary">
                    <div class="panel-heading">BLACK FRIDAY DEAL</div>
                    <div class="panel-body promoimages" style="background-image: url(../static/xbox_card.jpg);"></div>
                    <div class="panel-footer">Compra 50 dispositivos móviles y obtén una tarjeta de regalo.</div>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </section>
        <section class="container-fluid text-center" id="PCs">
          <div class="row content">
            <br>
            <h2>PC's</h2>
            <p>Aqui estan las PC's que tenemos para recomendar</p>
            <hr>
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <div class="panel panel-primary">
                    <div class="panel-heading">La humilde</div>
                    <div class="panel-body promoimages" style="background-image: url(../static/PCHumilde.jpeg);"></div>
                    <div class="panel-footer">Una computadora simple pero útil.</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-danger">
                    <div class="panel-heading">La decente</div>
                    <div class="panel-body promoimages" style="background-image: url(../static/PCdecente.webp);"></div>
                    <div class="panel-footer">Puede llevar a cabo tareas de trabajo simple y unos cuantos videojuegos.</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-success">
                    <div class="panel-heading">Pro Player</div>
                    <div class="panel-body promoimages" style="background-image: url(../static/PCPotente.jpeg);"></div>
                    <div class="panel-footer">Lleva el rendimiento de tus juegos al máximo, justo como un profesional haría.</div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <div class="panel panel-primary">
                    <div class="panel-heading">La clase media</div>
                    <div class="panel-body promoimages" style="background-image: url(../static/PCMedia.jpeg);"></div>
                    <div class="panel-footer">Puede usar prrogramas para modeloado 3D como blender y correr juegos AAA en calidad baja.</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-primary">
                    <div class="panel-heading">All in One</div>
                    <div class="panel-body promoimages" style="background-image: url(../static/PCAllinOne.jpg);"></div>
                    <div class="panel-footer">¿No te atrae tener que armar tu PC? Aquí tienes las mejores alternativas.</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-primary">
                    <div class="panel-heading">The one</div>
                    <div class="panel-body promoimages" style="background-image: url(../static/TheOne.jpg);"></div>
                    <div class="panel-footer">PC para lo que sea; desde Doom, hasta Cyberpunk 2077 al máximo.</div>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </section>
        <section id="footer">
          <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4">
              <!-- Section: Social media -->
              <section class="mb-4" id="social-media">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                  <img class="img-responsive" src="../static/faceLog.png" alt="faceYourPC" title="Facebook">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                  <img class="img-responsive" src="../static/twtLog.png" alt="twtYourPC" title="Twitter">
                  <i class="fab fa-twitter"></i>
                </a>
                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                  <img class="img-responsive" src="../static/googLog.png" alt="googYourPC" title ="Google">
                  <i class="fab fa-google"></i>
                </a>
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                  <img class="img-responsive" src="../static/instLog.png" alt="instYourPC" title="Instagram">
                  <i class="fab fa-instagram"></i>
                </a>
              </section>
              <!-- Section: Social media -->
              <!-- Section: Text -->
              <section class="mb-4">
                <div id="contact" class="container-fluid bg-grey">
                  <h2 class="text-center">CONTÁCTANOS</h2>
                  <div class="row">
                    <address class="col-sm-5">
                      Comunícate con nosotros y te responderemos en menos de 24 horas.<br>
                      <span class="glyphicon glyphicon-map-marker"></span> Guadalajara, MX<br>
                      <span class="glyphicon glyphicon-phone"></span> +52 33 3445 7677<br>
                      <span class="glyphicon glyphicon-envelope"></span> YourPCTeam@gmail.com<br>
                    </address>
                    <form action="https://fromsubmit.co/YourPCTeam@gmail.com" method="post">
                      <div class="col-sm-7 slideanim">
                        <div class="row">
                          <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
                          </div>
                          <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Correo electrónico" type="email" required>
                          </div>
                        </div>
                        <textarea class="form-control" id="comments" name="comments" placeholder="Comentarios" rows="5"></textarea><br>
                        <div class="row">
                          <div class="col-sm-12 form-group">
                            <button class="btn btn-default pull-right" type="submit">Enviar</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </section>
              <!-- Section: Text -->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3" id="copyright">© 2020 Copyright:<a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
          </footer>
        </section>
        <script>
          $(document).ready(function() { //Establece la altura de todos los panel-footer en el mismo valor (el más grande).
              var maxHeight = 0;

              $(".panel-footer").each(function(){
                if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
              });

              $(".panel-footer").height(maxHeight);
          });
          
        </script>
    </body>
</html>